<section class="section flow" id="contact">
    <div class="container contact-split fade-in">

        <div class="contact-pane">
            <h2 class="section-title section-title-left">Kontakt</h2>
            <p>
                Chcesz dołączyć do nas? To proste, nie musisz wypełniać żadnych formularzy ani rezerwować miejsca.
                Wystarczy, że
                pojawisz się na treningu i dasz znać trenerowi, że chcesz spróbować. Drzwi są zawsze otwarte dla nowych
                osób,
                niezależnie od poziomu doświadczenia.

                Jeśli masz pytania dotyczące zajęć, grafiku czy czegokolwiek innego, skontaktuj się z nami telefonicznie
                lub wpadnij
                do
                nas osobiście podczas treningów.
            </p>
            <ul class="contact-list">
                <li class="contact-line">
                    <span class="material-icons icon" aria-hidden="true">phone</span>
                    <a class="btn-link" href="tel:+48600000000" aria-label="Zadzwoń: +48 600 000 000">
                        Zadzwoń: +48&nbsp;600&nbsp;000&nbsp;000
                    </a>
                </li>
                <li class="contact-line">
                    <span class="material-icons icon" aria-hidden="true">mail</span>
                    <a class="btn-link" href="mailto:kontakt@kbbox.pl?subject=Zapytanie%20ze%20strony"
                        aria-label="Napisz e-mail do KB BOX">
                        Napisz e-mail: kontakt&#64;kbbox.pl
                    </a>
                </li>
                <li class="contact-line">
                    <span class="material-icons icon" aria-hidden="true">map</span>
                    <a class="btn-link" target="_blank" rel="noopener"
                        href="https://www.google.com/maps/place/Szko%C5%82a+Sztuk+Walki+Fighter+Team/@49.9998607,19.9120652,18z">
                        Fighter Team, Forteczna 51, 30-437 Kraków
                    </a>
                </li>

                <li class="contact-line">
                    <span class="material-icons icon" aria-hidden="true">public</span>
                    <a class="btn-link" target="_blank" rel="noopener"
                        href="https://www.facebook.com/">
                        Media społecznościowe
                    </a>
                </li>
            </ul>
        </div>

        <div class="location-pane">
            <h2 class="section-title section-title-left">Lokalizacja</h2>
            <div class="map-16x9">
                <iframe class="map-embed map-dark"
                    src="https://www.google.com/maps?ll=49.9998607,19.9120652&z=18&q=Szko%C5%82a%20Sztuk%20Walki%20Fighter%20Team&output=embed"
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade" allowfullscreen
                    aria-label="Mapa dojazdu: Szkoła Sztuk Walki Fighter Team">
                </iframe>
            </div>
        </div>

    </div>
</section>